* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    min-height: 95vh;
    background-color: #222831;
}

h1 {
    text-align: center;
    padding: 10px;
    color: #fff;
}

#menu {
    margin-left: 20px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.2);
    transition: 0.3s;
    width: 18%;
    text-align: center;
    float: left;
    margin-right: 25px;
    margin-bottom: 35px;
    overflow-x: hidden;
}

.card:hover {
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 4px;
    color: #C6DE41;
}

.image-style {
    width: 100%;
}

.animation1 {
    position: relative;
    height: 140px;
}

.animation1 .animation1-bg {
    background-image: url("../img/scene.png");
    background-size: contain;
    background-repeat: repeat-x;
    width: 500%;
    height: 140px;
    position: absolute;
    display: block;
    animation: anim1 7s linear infinite;
}

@keyframes anim1 {
    100% {
        transform: translateX(-486px);
    }
}

.animation1 .car {
    position: absolute;
    top: 92px;
    left: 83px;
}

.animation1 .car img {
    width: 60px;
    height: 38px;
    animation: car 1s linear infinite;
}

@keyframes car {
    100% {
        transform: translateY(-1px);
    }
    50% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(-1px);
    }
}

.animation1 .wheel1 {
    position: absolute;
    top: 112px;
    left: 88px;
    width: 15px;
    animation: wheel 1s linear infinite;
}

.animation1 .wheel2 {
    position: absolute;
    top: 112px;
    left: 123px;
    width: 15px;
    animation: wheel 1s linear infinite;
}

@keyframes wheel {
    100% {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 720px) {
    
  h3 {
    font-size: 14px;
  }
    
  #menu {
      margin-left: 10px;
    }
    
  .card {
      width: 30%;
      margin-right: 12px;
      padding: 0;
   }
}

@media screen and (max-width: 480px) {
    
  h1 {
    font-size: 25px;
    padding: 2px;    
  }
    
  h3 {
    font-size: 12px;
  }
    
  #menu {
      margin-left: 10px;
    }
    
  .card {
      width: 30%;
      margin-right: 12px;
      padding: 0;
   }
}

@media screen and (max-width: 380px) {
    
  h1 {
    font-size: 25px;
    padding: 0px;    
  }
    
  #menu {
    margin-left: 5px;
  }
    
  h3 {
    font-size: 9px;
  }
    
  #menu {
      margin-left: 0px;
    }
    
  .card {
      width: 30%;
      margin-right: 9px;
   }
    
   .card-container {
    padding: 1px;
   }
}