* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f1f8;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#q-box {
    width: 500px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    padding: 20px 20px 3px 20px;
}

ul {
    list-style: none;
    padding: 10px 0px 20px 150px;
    line-height: 3;
}

ul label {
    cursor: pointer;
}

button {
    width: 100%;
    display: block;
    border: none;
    font-size: 17px;
    background-color: #4273f4;
    cursor: pointer;
    color: #FFFFFF;
    padding: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

button:hover {
    background-color: #4079A7;
}

button:focus {
    outline: none;
}
